.card {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  width: 200px;
  min-height: 200px;
}
.card > h1 {
  font-size: 30px;
}
.card > img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn{
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  background-color: rgb(5, 156, 37);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}