*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 30%;
    padding: 20px;
    background-color: white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
.container img{
    height: 50vh;
}
span{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
.container > i{
    font-size: 2rem;
    position: absolute;
    color: rgb(246, 8, 48);
    opacity: 0;
    margin-top: 20px;
    font-size: 100px;
    transform: translate(0%, 0%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.3s ;
}