* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width: 500px;
    height: 500px;
    background-color: red;
    margin: 20px;
    border: 2px solid white;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.btn:hover{
    background-color: rgb(4, 162, 190);
    color: white;
}
.btn:active{
    transform: scale(0.95);
}