*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

main{
    display: flex;
}
.card{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card > img {
    width: 100%;
    height: 200px;
}
.place{
    font-size: 20px;
    font-weight: 600;
}
.country{
    font-size: 15px;
    font-weight: 400;
}