*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    width: 100%;
}

html{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
}