*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
}
.container{
    max-width: 60%;
    margin: auto;
    padding: 20px;
    border: 2px solid white;
    margin-top: 50px;
    text-align: center;
    min-height: 80vh;
}
h1{
    margin-bottom: 40px;
}
.bar{
    width: 100%;
    height: 30px;
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
    padding: 3px;
}
.loader{
    width: 0%;
    height: 90%;
    margin-top: 1px;   
    background-color: #1E90FF;
    border-radius: 4px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 5px;
    font-size: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: #1E90FF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background-color: #3742fa;
}
.btn:active{
    transform: scale(0.98);
}
