*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    gap: 10px;
    font-size: 24px;
    margin: 50px auto;
}
.innerBox{
    display: flex;
    align-items: center;
    gap: 20px;
}
p{
    font-size: 22px;
}
#btn{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
}
#btn:active{
    background-color: rgb(240, 8, 8);
    color: white;
}