* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.btn:active {
  background-color: rgb(255, 4, 4);
  color: white;
}