*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: black;
    color: white;
    justify-items: center;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: 0.3s ease-in-out;
    z-index: 1;
}
.btn:hover{
    background-color: rgb(255, 4, 4);
    color: white;
}
.btn:active{
    transform: scale(0.9);
}
.contrainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.heading{
    padding-left: 20px;
}