main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .form-container{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:25vw;
        h1{
            text-align: center;
            margin-bottom: 5vh;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 5vh;
            width: 75%;
            .form-group{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                label{
                    text-align: left;
                    margin-bottom: 1vh;
                }
                input{
                    padding: 1vh;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    outline: none;
                    font-size: large;
                    &:focus{
                        border: 1px solid #ccc;
                    }
                }
                .form-group{
                    width: 100%;
                    display: flex;
                }
            }
            button{
                padding: 1vh;
                border-radius: 5px;
                border: 1px solid #ccc;
                outline: none;
                font-size: large;
                background-color: #0073ff;
                color: white;
                &:hover{
                    background-color: #0062ff;
                }
            }
        }
        p{
            text-align: center;
            margin-top: 2vh;
        }
        .toggleAuthForm{
            color: #ef5151;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                text-decoration: underline
            }
        }
    }
}